<!DOCTYPE HTML>
<html lang="pt-br">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Rodrigo Muniz">

<head>
	<title>{{ page.title }} - {{ site.title }}</title>

	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="{{ page.title }}" />
	<meta property="og:title" content="{{ page.subtitle }}" />
	<meta property="og:description" content="{{ page.description }}" />
	{%if page.hero_image %}
	<meta property="og:image" content="{{ site.url }}{{ page.hero_image }}" />
	{% else %}
	<meta property="og:image" content="{{ site.url }}/images/website_thumb_design.jpg" />
	{% endif %}
	<meta property="og:url" content="{{ site.url }}" />

	<link href="/style/main.css" rel="stylesheet" type="text/css" />
</head>
<body class="home sans-serif ma0 dark-gray">
