<section class="w-100 w-80-ns center mv4 ph3">
	<h2 class="f3 f2-ns fw1 mv0 pt4 pb3 pb5-ns black-40 tc">Trajetória</h2>
    <div class="flex items-start">
        <div class="mr4">
            <div class="bg-gray flex-auto w1"></div>
        </div>
        <div class="flex-grow-2">
            <div class="bg-white shadow-4 pa4 mb4">
                <div class="flex items-center mb3">
                    <div class="f5 b mr2">Date:</div>
                    <div class="f5">January 1, 2023</div>
                </div>
                <h2 class="f4 fw6 mb3">Title of Event</h2>
                <p class="f5 lh-copy measure">
                    Short paragraph about the event. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                    lacinia consectetur orci, eu luctus enim rhoncus vel. Praesent malesuada turpis id mi finibus
                    rhoncus.
                </p>
            </div>
        </div>
    </div>
</section>