<section class="bg-black-05 pv5 pv6-ns ph3 ph5-ns tc">
	<p class="measure-narrow center f3 f3-m f2-ns fw4 mv3 mv4-ns lh-copy black-50">Trabalho com internet desde 2002 e tenho mais de <strong>13 anos</strong> de prática focada na <strong>experiência de uso</strong> e na <strong>qualidade</strong> de artefatos digitais para o ambiente <em>web</em> e <em>mobile</em></p>
	<a class="f4 f4-m f3-ns no-underline w-100 w-auto-ns grow br-pill ba bw1 ph4 pv2 mt1 mh1-ns dib bg-purple white b--purple" href="/rodrigo-muniz-cv.pdf" target="_blank">Baixe o CV em PDF</a>

	<a class="f4 f4-m f3-ns no-underline w-100 w-auto-ns grow br-pill ba bw1 ph4 pv2 mt1 mh1-ns dib purple b--purple" href="https://linkedin.com/in/rodrigomuniz" target="_blank">Visite meu LinkedIn</a>
</section>

<section class="pv5 pv6-ns ph3 ph5-ns bt bb b--black-10 tc">
	<h2 class="f4 f3-ns fw4 mv0 black-40 ttu tracked">Interesses gerais</h2>
	<p class="f5 f4-ns measure center lh-copy black-50">Produção cultural • Filosofias Africanas • Produção musical
		• Afrofuturismo • Culinária • Tipografia • Psicologia • Decolonialismo • Hip Hop • Canto • Ciclismo • Pilates •
		Viagens • Empresas Sociais • Astronomia • Sintetizadores</p>
</section>