<section class="bg-black-05 pv5 pv6-ns ph3 ph5-ns tc">
	<p class="measure-narrow center f3 f3-m f2-ns fw4 mv3 mv4-ns lh-copy black-50">I work with the internet since 2002 an have more than <strong>13 years</strong> of practice focused in <strong>user experience</strong> and in the <strong>quality</strong> of digital artefacts for the <strong>web</strong> and <strong>mobile</strong> spaces</p>
	<a class="f4 f4-m f3-ns no-underline w-100 w-auto-ns grow br-pill ba bw1 ph4 pv2 mt1 mh1-ns dib bg-purple white b--purple" href="/rodrigo-muniz-cv-EN.pdf" target="_blank">Download CV as PDF</a>

	<a class="f4 f4-m f3-ns no-underline w-100 w-auto-ns grow br-pill ba bw1 ph4 pv2 mt1 mh1-ns dib purple b--purple" href="https://linkedin.com/in/rodrigomuniz/en" target="_blank">Visit my LinkedIn</a>
</section>

<section class="pv5 pv6-ns ph3 ph5-ns bt bb b--black-10 tc">
	<h2 class="f4 f3-ns fw4 mv0 black-40 ttu tracked">General Interests</h2>
	<p class="f5 f4-ns measure center lh-copy black-50">Cultural Production • African Philosophies • Music Production
		• Afrofuturism • Culinary • Typography • Psycology • Decolonialism • Hip Hop • Singing • Cycling • Pilates •
		Travel • Sociais Enterprises • Astronomy • Synthesizers</p>
</section>