{% comment %} ## portfolio homepage header {% endcomment %}
{% if page.url == '/design/' %}
<header class="mw8 mw9-ns center">
	<nav class="pv3 pv4-ns ph3 ph3-m ph5-ns ttl">
		<a class="link purple fw6 f6 f5-ns hover-hot-pink mr2" href="/" title="Início">muniz.nu</a>
		<span class="link gray    f6 f5-ns dib mr2" href="#">/</span>
		<span class="link gray    f6 f5-ns dib mr2" href="#">design</span>
	</nav>
</header>
{% endif %}

{% comment %} ## project header {% endcomment %}

{% if page.layout == 'project' %}
<header class="mw8 mw9-ns center">
	<nav class="pv3 pv4-ns ph3 ph3-m ph5-ns ttl">
	  <a class="link purple fw6 f6 f5-ns hover-hot-pink mr1 mr2-ns" href="/" title="Início">muniz.nu</a>
	  <span class="link black-20    f6 f5-ns dib mr1 mr2-ns" href="#">/</span>
	  <a class="link purple fw6 f6 f5-ns hover-hot-pink mr1 mr2-ns" href="/design">design</a>
		<span class="link black-20    f6 f5-ns dib mr1 mr2-ns" href="#">/</span>
	  <span class="link black-30    f6 f5-ns dib mr1 mr2-ns" href="#"><strong>projeto:</strong> {{ page.title }}</span>
	</nav>
</header>
{% endif %}

{% comment %} ## music header {% endcomment %}
<header>
{% if page.url == '/music/' %}
	<nav class="pv3 pv4-ns ph3 ph4-m ph5-ns ttl">
		<a class="link purple fw6 f6 f5-ns hover-hot-pink mr2" href="/" title="Início">muniz.nu</a>
		<span class="link gray    f6 f5-ns dib mr2" href="#">/</span>
		<span class="link gray    f6 f5-ns dib mr2" href="#">música</span>
	</nav>
{% endif %}
</header>