{% for f-set in site.data.featured-sets.[page.lang] %}
<div class="w100 ph3 pv4 ph4-m ph5-ns center bg-black-90 mb4 relative overflow-hidden">
    <div class="mw8 mw9-ns center">
        <div class="v-mid w-100 center">
            <iframe width="100%" height="120" data-iframely-url="{{ f-set.iframe-url }}" frameborder="0" ></iframe>
        </div>
    </div>
    <span class="f7 tracked hot-pink bg-white pv1 mt1 b br2 lh-solid v-top db dib-ns tc rotate-315 absolute mt5 bottom-2 w5 ttu" style="right: -7.3em;">{{ f-set.label }}</span>
</div>
{% endfor %}