<section class="pv4 pv5-ns ph3 ph5-ns bt b--dashed br-0 bb-0 bl-0 b--black-10">
	<h2 class="f3 f2-ns fw4 mv0 black-40 ttu">Outros Projetos</h2>
	{% assign projects = site.portfolio | where_exp:"post","post.url != page.url" | sort:"order"  %}
	{% for post in projects limit:5 %}
		<article class="mv4 mv5-ns">
			<a href="{{ post.url | prepend: site.baseurl }}" class="db link dim measure">
				<strong class="tracked black-30 f6 ttu dib mb1">{{ post.client }}</strong>
				<h4 class="f2 f2-ns ma0 mb2 purple">{{ post.title }}</h4>
				<p class="black-50 f6 f5-ns mv0 lh-copy">{{ post.excerpt }}</p>
			</a>
		</article>
	{% endfor %}
</section>
