<html lang="pt-br">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Rodrigo Muniz">

<head>
	<title>{{ page.subtitle }} - {{ page.title }}</title>

	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="{{ page.title }}" />
	<meta property="og:title" content="{{ page.subtitle }}" />
	<meta property="og:description" content="{{ page.description }}" />
	<meta property="og:image" content="{{ site.githuburl }}/images/website_thumb_design.jpg" />
	<meta property="og:url" content="{{ site.githuburl }}" />

	<link href="/style/main.css" rel="stylesheet" type="text/css" />
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body class="home sans-serif ma0 near-white">
