<html lang="pt-br">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="{{ page.keywords }}">
<meta name="author" content="Rodrigo Muniz">

<head>
	<title>
		{% if page.subtitle %}
			{{ page.subtitle }} - 
		{% endif %}
		{% if page.layout == 'project' %}
			{{ page.title }} - Portfolio - {{ site.title }}
		{% else %}
			{{ page.title }} - {{ site.title }}
		{% endif %}
	</title>

	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="{{ page.title }}" />
	<meta property="og:title" content="{{ page.subtitle }}" />
	{%if page.hero_image %}
	<meta property="og:image" content="{{ site.githuburl }}{{ page.hero_image }}" />
	{% else %}
	<meta property="og:image" content="{{ site.githuburl }}/images/website_thumb_design.jpg" />
	{% endif %}
	<meta property="og:url" content="{{ site.githuburl }}" />

	<link href="/style/main.css" rel="stylesheet" type="text/css" />
	{% if page.id == 'index' %}
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	{% endif %}
</head>

{% if page.url == '/music/' %}
<body class="home sans-serif mw8 mw9-ns center pb3 ma0">
{% else %}
<body class="home sans-serif ma0 near-white">
{% endif %}

{% if page.url == '/music/' %}
	{% for f-set in site.data.featured-sets %}
	<div class="w100 ph3 pv4 ph4-m ph5-ns center bg-black-90 mb4 relative overflow-hidden">
		<div class="mw8 mw9-ns center">
			<div class="v-mid w-100 center">
				<iframe width="100%" height="120" data-iframely-url="{{ f-set.iframe-url }}" frameborder="0" ></iframe>
			</div>
		</div>
		<span class="f7 tracked hot-pink bg-white pv1 mt1 b br2 lh-solid v-top db dib-ns tc rotate-315 absolute mt5 bottom-2 w5 ttu" style="right: -7.3em;">{{ f-set.label }}</span>
	</div>
	{% endfor %}
{% endif %}

{% include header.html %}