$font-family-sans-serif:  "Source Sans Pro", sans-serif;
$headings-font-family:    "Source Sans Pro", sans-serif;
$headings-font-weight:    200 !default;

$purple: 			#34346C;
$purple-txt: 		#777794;
$deep-purple: 		#07070D;
$bg-purple: 		#141423;
$pink: 				rgb(255, 0, 101);