---
title: CRIMENOIZE
subtitle: Black Music, Afro Brasileira, Baile Funk, Baile Charme
description: "DJ e Beatmaker de Pernambuco entre São Paulo e Rio com o compromisso de
  tocar mais do que se quer, o que precisa ser ouvido. E sou ainda:"
keywords: dj, black music, r&b, hip hop, trap, rap, dub, maracatu, manguebeat, funk, soul, brega, house, forró, baião, frevo, samba, pagodão, bregadeira
lang: pt-br
ref: music
---
{% include top.html %}

<div class="black-50 vh-75-ns dt ph3 ph4-m ph5-ns pv4">
	<div class="dtc v-mid">
		<h1 class="f2 f1-m f-subheadline-ns fw2 ma0 mb3 lh-solid tracked-tight black-40">Iaí, sou <br /><strong class="hot-pink ttu fw6">{{ page.title }}</strong></h1>
		<p class="f3 f1-m f1-ns fw3 lh-title-ns mw7">Eu sou também <strong class="purple ttu fw6" id="carousel"></strong><noscript><strong>DJ</strong></noscript></p>
		<p class="f3 f2-m f2-ns fw3 lh-title-ns mw7">{{ page.description }}</p>
	</div>
</div>

<section>
	{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
	{% for set in site.data.sets[page.lang] %}
	<div class="mb1">
		<div class="ph3 ph4-m ph5-ns pv4">
			<h2 class="f2 f1-ns fw2 lh-solid ma0 mt1 mb2 purple">{{ set.title }}</h2>
			<iframe width="100%" height="120" data-iframely-url="{{ set.iframe-url }}" frameborder="0" ></iframe>
			</div>
	</div>
	{% endfor %}

	<a href="https://soundcloud.com/crimenoize" rel="external" target="_blank" class="w100 hover-bg-black-10 hover-hot-pink purple tc pv3 db link f4 f3-ns mb1">Ouça mais mixes e DJ sets no meu Soundcloud</a>
</section>

<section class="ph3 ph5-ns pv4 pv6-ns black-50 tc bb b--black-10">
	<p class="f2 f1-m f1-ns fw3 lh-title-ns measure-narrow center">Sou também DJ residente na <a class="link purple hover-hot-pink fw6" href="https://www.instagram.com/lafonparty/" rel="external" target="_blank">LAFON</a>, no  <a class="link pink hover-hot-pink fw6" href="https://www.instagram.com/riodejaneiro_cm/" rel="external" target="_blank">CreativeMornings Rio</a>, <a class="link red hover-dark-pink fw4" href="https://www.youtube.com/channel/UCug7l9tuMlN-vzYJ8E1QFrA" rel="external" target="_blank">tenho um canal no Youtube</a> e tenho paixão por criar <a class="link green hover-hot-pink fw4" href="https://open.spotify.com/user/rdmuniz" rel="external" target="_blank">playlists no Spotify</a>.</p>
</section>

<blockquote class="ph0 pv3 f2 f1-ns mw6 center tc">
  <p class="black-50 fw2 lh-copy lh-title-ns">❝ Música preta<br />Sou teu instrumento <br />Vim pra te servir ❞
		<cite class="f4 black-40 ttu tracked db mt4">―Xênia França</cite>
  </p>
</blockquote>


<script type="text/javascript" src="/scripts/replace.js"></script>
<script async src="//cdn.iframe.ly/embed.js?lazy=1&iframe=1" charset="utf-8"></script>
<script src="/scripts/main.js"></script>

{% include pre-home-menu.html %}
{% include footer.html %}