---
title: DJ Rodrigo Muniz
subtitle: Black Music, Afro Brasileira, Baile Funk, Baile Charme
description: Pernambucano vivendo no Rio desde 2013 com o compromisso de tocar mais do que se quer, o que precisa ser ouvido.
---
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="dj, black music, r&b, hip hop, rap, afrobeat, dancehall, manguebeat, funk, soul, latina">
<meta name="author" content="Rodrigo Muniz">

<head>
	<title>{{ page.subtitle }} - {{ page.title }}</title>

	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="{{ page.title }}" />
	<meta property="og:title" content="{{ page.subtitle }}" />
	<meta property="og:description" content="{{ page.description }}" />
	{%if page.hero_image %}
	<meta property="og:image" content="{{ site.githuburl }}{{ page.hero_image }}" />
	{% else %}
	<meta property="og:image" content="{{ site.githuburl }}/images/website_thumb_design.jpg" />
	{% endif %}
	<meta property="og:url" content="{{ site.githuburl }}" />
	<meta property="og:url" content="{{ site.githuburl }}" />

	<link href="/style/main.css" rel="stylesheet" type="text/css" />
</head>
<body class="home sans-serif mw8 mw9-ns center pb3 ma0">

<div class="w100 pa3 ph5-ns center bg-black-05 mb3 dn">
	<div class="mw8 mw9-ns center">
		<span class="f7 tracked bg-gold black-40 pa1 fw6 br2 lh-solid v-mid db dib-ns w10-m w4-ns tc mb3 mb3-m mb0-ns mr2-ns">MIXTAPE NOVA</span>
		<div class="db dib-ns v-mid w-90-m w-80-ns">
			<iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" data-iframely-url="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/561902601&color=%235f4b8b&inverse=false&auto_play=false&show_user=true"></iframe>
		</div>
	</div>
</div>

<header>
	<nav class="pv3 pv4-ns ph3 ph3-m ph5-ns ttl">
		<a class="link purple fw6 f6 f5-ns hover-hot-pink mr2" href="/" title="Início">muniz.nu</a>
		<span class="link gray    f6 f5-ns dib mr2" href="#">/</span>
		<span class="link gray    f6 f5-ns dib mr2" href="#">música</span>
	</nav>
</header>

<div class="black-50 vh-75-ns dt ph3 ph5-ns pv4">
	<div class="dtc v-mid">
		<h1 class="f2 f1-m f-subheadline-ns fw2 ma0 mb3 lh-solid tracked-tight black-40">Oi, sou o <br /><strong class="hot-pink ttu fw6">{{ page.title }}</strong></h1>
		<p class="f3 f1-m f1-ns fw3 lh-title-ns mw7">Eu sou <strong class="purple ttu fw6" id="carousel"></strong><noscript><strong>Black Music</strong></noscript></p>
		<p class="f3 f2-m f2-ns fw3 lh-title-ns mw7">{{ page.description }} E sou ainda:</p>
	</div>
</div>


<a title="Via e-mail" href="mailto:eu@rodrigomuniz.com?subject=Contato via site" rel="author" class="fixed w-100 w-auto-ns shadow-deep br1 ba bw1 b--black-20 bg-white shadow-3 hover-bg-purple hover-white purple tc pa2 link f5 f4-ns fw4 mb1 bottom-0 right-0 bottom-1-ns right-1-ns">
	Entre em contato
</a>

<section>
	<div class="mb1">
		<div class="ph3 ph5-ns pv4">
			<h2 class="f2 f1-ns fw4 lh-solid ma0 mt1 mb2 purple">Bixa Preta</h2>
			<iframe width="100%" height="120" data-iframely-url="https://www.mixcloud.com/widget/iframe/?hide_cover=1&light=1&feed=%2Frdmuniz%2Fset-lafon-5-corpos-livres-na-rua-live%2F" frameborder="0" ></iframe>
			</div>
	</div>
	<div class="mb1">
		<div class="ph3 ph5-ns pv4">
			<h2 class="f2 f1-ns fw4 lh-solid ma0 mt1 mb2 purple">Soltinha
			</h2>
			<iframe width="100%" height="120" data-iframely-url="https://www.mixcloud.com/widget/iframe/?hide_cover=1&light=1&feed=%2Frdmuniz%2Fmix-soltinha-5-cunty%2F" frameborder="0" ></iframe>
		</div>
	</div>
	<div class="mb1">
		<div class="ph3 ph5-ns pv4">
			<h2 class="f2 f1-ns fw4 lh-solid ma0 mt1 mb2 purple">Pró Feminismo</h2>
			<iframe width="100%" height="120" data-iframely-url="https://www.mixcloud.com/widget/iframe/?hide_cover=1&light=1&feed=%2Frdmuniz%2Fmix-feminismo-e-coragem-creativemornings-rio-dj-rodrigo-muniz%2F" frameborder="0" ></iframe>
		</div>
	</div>
	<div class="mb1">
		<div class="ph3 ph5-ns pv4">
			<h2 class="f2 f1-ns fw4 lh-solid ma0 mt1 mb2 purple">De LED</h2>
			<iframe width="100%" height="120" data-iframely-url="https://www.mixcloud.com/widget/iframe/?hide_cover=1&light=1&feed=%2Frdmuniz%2Fset-minha-luz-%C3%A9-de-led-convida-lafon-live%2F" frameborder="0" ></iframe>
		</div>
	</div>
	<a href="https://www.mixcloud.com/rdmuniz/" rel="external" target="_blank" class="w100 hover-bg-black-10 hover-black-90 purple tc pv3 db link f5 f4-ns mb1">Ouça mais mixtapes no meu Mixcloud</a>
</section>

<section class="ph3 ph5-ns pv4 pv6-ns black-50 tc bb b--black-10">
	<p class="f2 f1-m f1-ns fw3 lh-title-ns measure-narrow center">Também sou apaixonado por criar <a class="link green hover-purple fw4" href="https://open.spotify.com/user/rdmuniz" rel="external" target="_blank">playlists no Spotify</a>.</p>
</section>

<blockquote class="ph0 pv3 f2 f1-ns mw6 center tc dn">
  <p class="black-50 fw2 lh-copy lh-title-ns">Música preta<br />Sou teu instrumento <br />Vim pra te servir
		<cite class="f4 black-30 ttu tracked db mt4">―Xênia França</cite>
  </p>
</blockquote>


<script type="text/javascript" src="/scripts/replace.js"></script>
<script async src="//cdn.iframe.ly/embed.js?lazy=1&iframe=1" charset="utf-8"></script>
<script src="/scripts/main.js"></script>

{% include pre-home-menu.html %}
{% include footer.html %}
