---
title: Product Design Lead
subtitle: Projetos, Trajetória e CV
page: design
---
{% include top.html %}

<section class="contain">
	<div class="mw8 mw9-ns center tc">
		<div class="pt5 pt6-l pb5 ph3 ph3-m ph5-ns bt b--black-05">
			<h3 class="f1 fw2 mv0 pt5 mt6-m lh-solid purple">Oi, sou <strong class="f-subheadline f-headline-ns db fw4 hot-pink tracked-tight">{{ page.title }}</strong> de Pernambuco vivendo<br>em São Paulo.</h3>
		</div>
	</div>
</section>

{% include design-projects-list.html %}
<!-- {% include design-timeline.html %} -->

{% include design-footer.html %}
{% include pre-home-menu.html %}
{% include footer.html %}