{% include top.html %}
{% include image-zoom.html %}

<section>
	<article class="pb5 pb5-ns">
		{%if page.hero_image %}
		<div class="w-100 contain mb5 cf" style="background:#eae9e9 url({{ page.hero_image }}) no-repeat center;">
			<div class="vh-50 vh-75-ns mw8 mw9-ns center relative cf">
			<header class="w-100 absolute bottom-0 right-0 ph2-m ph3-ns">
				<strong class="fr tracked black-50 f4 f3-ns fw6 ttu dib bg-white-80 pv2 ph2 ph4-m ph4-ns">{{ page.client }}, {{ page.project_year }}</strong>
				<h1 class="f1 f-headline-ns fw6 ma0 purple lh-solid bg-white-80 pv2 pv3-ns ph2 ph3-m ph4-ns cr tc w-100">
					{{ page.title }}
				</h1>
			</header>
			</div>
		</div>
		{% else %}
		<header class="ph3 ph5-ns tc mt5 mt6-ns">
			<strong class="tracked black-30 f5 f3-ns ttu">{{ page.client }}, {{ page.project_year }}</strong>
			<h1 class="f1 f-headline-ns ma0 purple lh-solid">
				{{ page.title }}
			</h1>
		</header>
		{% endif %}

		<div class="mw8 mw9-ns center ph2-m ph5-ns black-70 f4">
		<dl class="ma0 ph2 tc f4">
			<dt class="ttu fw3 f3 black-30">Responsabilidades</dt>
			<dd class="ma0 black-40">{{page.roles}}</dd>
		</dl>
		{{ content }}
		</div>
	</article>
</section>

{% include design-other-projects.html %}
{% include design-footer.html %}

{% include pre-home-menu.html %}
{% include footer.html %}
